<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
    <div class="text-center">
       <div>
           <h3 class="alert-danger">Access Denied</h3>
       </div>
       <div>
           <button class="btn btn-primary" onclick="history.back()">Go back</button>
           <a class="btn btn-danger" href="/app-logout">Logout</a>
       </div>
    </div>
</body>
</html>   